.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 919px;
    background: linear-gradient(0.00deg, rgba(9.2, 8.93, 8.93, 1), rgba(16, 16, 16, 0) 100%), url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


}


.banner-content {
    width: 800px;
    text-align: center;

}

.firt-title {
    font-weight: bolder;
    color: #FFFFFF;
    opacity: 70%;


}

.t2 {
    color: #FFFFFF;
    font-family: "Atkinson Hyperlegible Next", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    margin: 5px;

}

.t3 {
    color: #FFFFFF;
    opacity: 70%;
    font-size: medium;
}

.btn {
    height: 65px;
    width: 282px;
    background-color: #52C303;
    color: #FFFFFF;
    font-weight: 500;
    border-radius: 8px;
    border: none;
    font-size: 18px;

}

.Pizzaart {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}


.pizza-3-prat {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px
}

.Pizzaart-content {
    height: 871px;
    width: 1320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.yf {
    font-family: "Atkinson Hyperlegible Next", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    margin: 5px;

}

.pizza-bx {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 522px;
    width: 424px;
}

.pg {
    width: 80%;
    margin: 0 auto;
}

.pb {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 56px;
    width: 187px;
    border-radius: 8px;
    background: rgba(82, 195, 3, 0.15);
    gap: 10px;
    margin-top: 32px;

}