.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 919px;
    background: linear-gradient(0.00deg, rgba(9.2, 8.93, 8.93, 1), rgba(16, 16, 16, 0) 100%), url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


}


.banner-content {
    width: 800px;
    text-align: center;

}

.firt-title {
    font-weight: bolder;
    color: #FFFFFF;
    opacity: 70%;


}

.t2 {
    color: #FFFFFF;
    font-family: "Atkinson Hyperlegible Next", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    margin: 5px;

}

.t3 {
    color: #FFFFFF;
    opacity: 70%;
    font-size: medium;
}

.btn {
    height: 65px;
    width: 282px;
    background-color: #52C303;
    color: #FFFFFF;
    font-weight: 500;
    border-radius: 8px;
    border: none;
    font-size: 18px;

}

.Pizzaart {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}


.pizza-3-prat {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px
}

.Pizzaart-content {
    height: 871px;
    width: 1320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.yf {
    font-family: "Atkinson Hyperlegible Next", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    margin: 5px;

}

.pizza-bx {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 522px;
    width: 424px;
}

.pg {
    width: 80%;
    margin: 0 auto;
}

.pb {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 56px;
    width: 187px;
    border-radius: 8px;
    background: rgba(82, 195, 3, 0.15);
    gap: 10px;
    margin-top: 32px;

}

.chicken-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}


.chicken-banner-contenar {

    height: 671px;
    width: 1920px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    text-align: center;


}

.chicken-bannertextitem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 398px;
    width: 830px;

}

.chickenimg {
    height: 671px;
    width: 960px;
    background-image: url(./assets/foods.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.btn3 {
    height: 98px;
    width: 1320px;
    margin-top: 48px;
    background: none;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-size: medium;
    opacity: 80%;




}


.logoimg {
    display: flex;
    justify-content: space-evenly;
    height: 40px;
    width: 260px;
    margin-top: 32px;

}

.chicken-bannertextitem p {
    opacity: 60%;
}

.good-food {
    width: 500px;
    font-weight: bold;
}


.crad4 {

    margin-top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.crad4-containar {
    display: flex;
    height: 651px;
    width: 424px;
}

.btn-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 212px;
    height: 65px;
    rgba(82, 195, 3, 0.15) rgba(16, 16, 16, 1);
    font-size: medium;
    font-weight: bold;
    margin: 0;
}

.crad4-containar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.ws {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 212px;
    height: 65px;
    background-color: #52C303;
    border-radius: 8px;
    font-size: medium;
    font-weight: bold;
    border: none;
    margin-top: 1.5rem;
}

.crad4-containar h1 {
    margin: 0;
}